.top-bar {
    padding: 40px;
    text-align: center;
    background: #2F4F4F;
    color: white;
    font-size: 20px;
}

.middle-main-container {

    width: 100%;
    position: relative;

}

.center {
    justify-content: center;
    text-align: center;


}

.login-text-container {
    /* height and width sets the actual dimensons of the div */
    height: 250px;
    width: 300px;
    /* marigin aligns the div to the middle of the screen*/
    margin: auto;
    text-align: center;
    /* styles for the background of textfield */
    background-color: #9196a3;
    color: #ffffff;
    padding: 5px 13px 5px;
    border-radius: 25px;

}

.bottom-bar {
    position: absolute;
    bottom: 0px;
    background: #2F4F4F;
    color: #ffffff;
    width: 100%;
    margin: auto;
    text-align: center;

}

.bottom-bar-button {
    width: 33%;
    text-align: center;
    outline-style: solid;
    outline-color: #ffffff;


}

.add-transcation-container {
    /* height and width wets the actual dimensons of the div */
    height: 400px;
    width: 400px;
    /* margin aligns the div to the middle of the screen*/
    margin-top:3%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    background-color: #9196a3;
    color: #ffffff;
    padding: 5px 13px 5px;
    border-radius: 25px;
}