/* Common Styles */
.center {
    justify-content: center;
    text-align: center;
}

/* Home Page Styles */
.middle-homepage-container{
    padding-bottom: 70px;
}


/* Error Page Styles */
.error-page-container {
    /* positioning */
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    /* height and width sets the actual dimensons of the div */
    height: 400px;
    width: 800px;
    /* styling */
    background-color: #9196a3;
    border-radius: 10px;
    /* text style */
    font-size: 50px;
    text-align: center;
    font-family: monospace;
}

/* Login page styles */
.login-text-container {
    /* height and width sets the actual dimensons of the div */
    height: 250px;
    width: 300px;
    /* marigin aligns the div to the middle of the screen*/
    margin: auto;
    text-align: center;
    /* styles for the background of textfield */
    background-color: #9196a3;
    color: #ffffff;
    padding: 5px 13px 5px;
    border-radius: 25px;

}
.login-helper{
    height: 120px;
    width: 300px;
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
    background-color: #9196a3;
    border-radius: 25px;
    padding-top: 15px;
}

.register-text-container {
    /* height and width sets the actual dimensons of the div */
    height: 250px;
    width: 300px;
    /* marigin aligns the div to the middle of the screen*/
    margin: auto;
    text-align: center;
    /* styles for the background of textfield */
    background-color: #9196a3;
    color: #ffffff;
    padding: 5px 13px 5px;
    border-radius: 25px;

}

/* Top Bar styles */
.top-bar {
    position: sticky;
    padding: 25px;
    text-align: center;
    background: #2F4F4F;
    color: white;
    font-size: 20px;
}
.logout-button{
    position: absolute;
    right: 0;
}

/* Bottom Bar styles */
.bottom-bar {
    position: fixed;
    bottom: 0px;
    background: #2F4F4F;
    color: #ffffff;
    width: 100%;
    margin: auto;
    text-align: center;
}

.bottom-bar-button {
    width: 33%;
    text-align: center;
    
}



/* Add transcation page Styles */
.add-transcation-container {
    /* height and width sets the actual dimensons of the div */
    height: 400px;
    width: 400px;
    /* margin aligns the div to the middle of the screen*/
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #9196a3;
    color: #ffffff;
    padding: 5px 13px 5px;
    border-radius: 25px;
}

/* Transcation item Styles */
.transaction-item-container {
    /* height and width sets the actual dimensons of the div */
    height: 200px;
    width: 35%;
    background-color: #9196a3;
    border-radius: 17px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

#category-icon-container {

    /* item will not shrink when the webpage is resized */
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 15px;

}

.transcation-item-middle-container {
    flex-direction: column;
    flex-grow: 1;
    padding-left: 10px;
}

#category-name {
    height: 40%;
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-top: 30px;
    /* border-style: solid; */


}

#notes {
    height: 50%;
    font-size: 25px;
    color: black;
    font-weight: 400;
    /* border-style: solid; */
}

#date {
    position: relative;
    font-size: 24px;
    color:white;
    font-weight: 500;
    /* border-style: solid; */
}


.transcation-item-right-container {
    display: flex;
    flex-direction: column;

}

#amount-container {
    /* item will not shrink when the webpage is resized */
    flex-shrink: 1;
    height: 50%;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-right: 7px;
    font-weight: 500;
    color: white;

}

.amount-red {
    color: red;


}

.amount-green {
    color: green;

}



#edit-button-container {
    display: flex;
    height: 50%;
    margin-left: 50px;

}

/* Analysis Page Styles */
.piechart-container {
    height: 750px;
    background-color: #9196a3;
    width: 50%;
    border-radius: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
   
}

.category-analysis-container {
    min-height: fit-content;
    width: 50%;
    background-color: #9196a3;
    border-radius: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.category-analysis-item {
    height: 80px;
    background-color: #9196a3;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 17px;
    width: 100%;


}

.category-analysis-middle-container {
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    color: white;
    font-size: 21px;

}

#piechart-total-expenses{
    color: white;
    font-size: 30px;
    padding-left: 10px;
    font-weight: 500;
}

/* EditTransaction Page Styles */
.edit-transcation-container {
    /* height and width sets the actual dimensons of the div */
    height: 450px;
    width: 400px;
    /* margin aligns the div to the middle of the screen*/
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #9196a3;
    color: #ffffff;
    padding: 5px 13px 5px;
    border-radius: 25px;
}
